<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Computer Science in a website</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- javascript file -->
    <script src="/client.js" defer></script>
    <!-- google founts -->
    <link
      href="https://fonts.googleapis.com/css?family=Concert One"
      rel="stylesheet"
    />
    <!-- bootstrap link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
   <!-- navagation bar  -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ICS3U</a>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"
                  >HTML <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/htmlGlitch">HTML on Glitch</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"
                  >Java Script <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/vidcodef">VidCode Final Projects</a></li>
                  <li><a href="/vidcodep">VidCode Projects</a></li>
                  <li><a href="/htmlwithjs">HTML with JS</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                  >More <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/api">API's and If this then that</a></li>
                   <li><a onclick="Function1()">Self design Project</a></li>
                  <li><a href="/log">Daily log</a></li>
                  <li><a href="/aboutMe">About Me</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right"></ul>
          </div>
        </div>
      </div>
    </nav>
   <!-- website heading -->
    <div class="jumbotron text-center">
      <h>Html with Java Script</h>
    </div>
    
    <div class="container">
    <p2> The first Js with html project</p2>
    <!-- first js project -->
<div class="glitch-embed-wrap" style="height: 420px; width: 100%;">
  <iframe
    src="https://glitch.com/embed/#!/embed/javascript-introduc?path=index.html&previewSize=100&attributionHidden=true"
    title="javascript-introduc on Glitch"
    allow="geolocation; microphone; camera; midi; vr; encrypted-media"
    style="height: 100%; width: 100%; border: 0;">
  </iframe>
</div>
    <!-- first external js project-->
    <p2> The first time using external Js</p2>
<div class="glitch-embed-wrap" style="height: 420px; width: 100%;">
  <iframe
    src="https://glitch.com/embed/#!/embed/external-js?path=README.md&previewSize=100&attributionHidden=true"
    title="external-js on Glitch"
    allow="geolocation; microphone; camera; midi; vr; encrypted-media"
    style="height: 100%; width: 100%; border: 0;">
  </iframe>
</div>
    </div>
    
  </body>
</html>