<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Computer Science in a website</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- javascript file -->
    <script src="/client.js" defer></script>
    <!-- google founts -->
    <link
      href="https://fonts.googleapis.com/css?family=Concert One"
      rel="stylesheet"
    />
    <!-- bootstrap link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- navagation bar  -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ICS3U</a>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"
                  >HTML <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/htmlGlitch">HTML on Glitch</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"
                  >Java Script <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/vidcodef">VidCode Final Projects</a></li>
                  <li><a href="/vidcodep">VidCode Projects</a></li>
                  <li><a href="/htmlwithjs">HTML with JS</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                  >More <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/api">API's and If this then that</a></li>
                   <li><a onclick="Function1()">Self design Project</a></li>
                  <li><a href="/log">Daily log</a></li>
                  <li><a href="/aboutMe">About Me</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right"></ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- website heading -->
    <div class="jumbotron text-center">
      <h>Computer Science in a Websites</h>
      <p>What really got done this term</p>
    </div>
    <!-- panel webste explnation -->
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            Fhuj fh jkdfha jgkfh adjh jflkghfjdk;ghfjdk;j kh;jgkafn fiad njk
            huhuo huohj hioophju[ huipyup huip uipih Fhuj fh jkdfha jgkfh adjh
            jflkghfjdk;ghfjdk;j kh;jgkafn fiad njk huhuo huohj hioophju[ huipyup
            huip uipih Fhuj fh jkdfha jgkfh adjh jflkghfjdk;ghfjdk;j kh;jgkafn
            fiad njk huhuo huohj hioophju[ huipyup huip uipih Fhuj fh jkdfha
            jgkfh adjh jflkghfjdk;ghfjdk;j kh;jgkafn fiad njk huhuo huohj
            hioophju[ huipyup huip uipih Fhuj fh jkdfha jgkfh adjh
            jflkghfjdk;ghfjdk;j kh;jgkafn fiad njk huhuo huohj hioophju[ huipyup
            huip uipih Fhuj fh jkdfha jgkfh adjh jflkghfjdk;ghfjdk;j kh;jgkafn
            fiad njk huhuo huohj hioophju[ huipyup huip uipih Concert One,
            Swanky and Moo Moo.
          </p>
        </div>
      </div>
    </div>
    <!-- september list-->
    <div class="container">
      <p2>September</p2>
      <div class="list-group">
        <a href="/aboutMe" class="list-group-item"
          ><p>Biography - a short text document that talks about me</p></a
        >
        <a href="/vidcodef" class="list-group-item"
          ><p>Unit 1 Introduction to Java Script: Final Project</p></a
        >
        <a href="/htmlGlitch" class="list-group-item"><p>First Web page</p></a>
        <a href="/htmlGlitch" class="list-group-item"
          ><p>Experimenting with HTML In Line Styling</p></a
        >
        <a href="/htmlGlitch" class="list-group-item"
          ><p>Cascading Style Sheets: Internal CSS; Ids and Classes</p></a
        >
        <a href="/htmlGlitch" class="list-group-item"
          ><p>External CSS and File Structure</p></a
        >
        <a href="/htmlGlitch" class="list-group-item"><p>HTML Forms</p></a>
        <a href="/vidcodef" class="list-group-item"
          ><p>Unit 2 Vidcode Arrays - Final Assignment</p></a
        >
        <a href="/bootstrap" class="list-group-item"><p>Bootstrap</p></a>
      </div>
    </div>

    <!-- October list-->
    <div class="container">
      <p2>October</p2>
      <div class="list-group">
        <a href="/htmlwithjs" class="list-group-item"><p>JavaScript Introduction</p></a>
        <a href="#" class="list-group-item"><p>The DOM</p></a>
        <a href="vidcodef" class="list-group-item"
          ><p>Vidcode Unit 3 Final Project</p></a
        >
        <a href="/htmlwithjs" class="list-group-item"><p>External JS</p></a>
        <a href="otherPro" class="list-group-item"><p>3D Modeling and Printing</p></a>
        <a href="/api" class="list-group-item"
          ><p>APIs and If statements: If This Then That</p></a
        >
        <a href="/otherPro" class="list-group-item"
          ><p>
            Introduction: Setting up a Raspberry Pi, as a Server, and
            Controlling an LED with a Web Socket
          </p></a
        >
      </div>
    </div>

    <!-- november list-->
    <div class="container">
      <p2>November</p2>
      <div class="list-group">
        <a href="/log" class="list-group-item"
          ><p>Notebook and Lab Skills Evaluation</p></a
        >
        <a href="/otherPro" class="list-group-item"
          ><p>Hosting your own website from a Raspberry Pi</p></a
        >
        <a href="/otherPro" class="list-group-item"
          ><p>Creating a Local Git Repository</p></a
        >
        <a href="/otherPro" class="list-group-item"
          ><p>Pushing your local Git file to Git Hub</p></a
        >
        <a href="#" class="list-group-item"
          ><p>Deploy your web app on the commercial server Heroku</p></a
        >
        <a href="#" class="list-group-item"
          ><p>Viewing your Raspberry Pi from a Desktop Computer</p></a
        >
      </div>
    </div>

    <!-- december list-->
    <div class="container">
      <p2>
        December
      </p2>
      <div class="well well-lg">
        <p>
          In December we comtiued to work on vidcode up to unit 6. We also
          worked on our self design projects and started our CCT.
        </p>
      </div>
    </div>

    <!-- January list-->
    <div class="container">
      <p2>January</p2>
      <div class="list-group">
        <a href="/" class="list-group-item"><p>ICS3U CCT</p></a>
        <a href="#" class="list-group-item"><p>Self Design Project</p></a>
      </div>
    </div>
  </body>
</html>
