<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Computer Science in a website</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- javascript file -->
    <script src="/client.js" defer></script>
    <!-- google founts -->
    <link
      href="https://fonts.googleapis.com/css?family=Concert One"
      rel="stylesheet"
    />
    <!-- bootstrap link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- navagation bar  -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ICS3U</a>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"
                  >HTML <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/htmlGlitch">HTML on Glitch</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"
                  >Java Script <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/vidcodef">VidCode Final Projects</a></li>
                  <li><a href="/vidcodep">VidCode Projects</a></li>
                  <li><a href="/htmlwithjs">HTML with JS</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                  >More <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/api">API's and If this then that</a></li>
                   <li><a onclick="Function1()">Self design Project</a></li>
                  <li><a href="/log">Daily log</a></li>
                  <li><a href="/aboutMe">About Me</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right"></ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- website heading -->
    <div class="jumbotron text-center">
      <h>Vidcode Final Projects</h>
    </div>
    <!-- vidcode 1 -->
    <div class="container">
      <a href="https://www.vidcode.com/share/N5SD2a6gWv"
        ><p2>
          VidCode Unit 1
        </p2>
      </a>
      <!-- panel for information-->
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- container for the image-->
          <div class="col-sm-3">
            <iframe
              allowfullscreen
              style="width:100%"
              src="https://www.vidcode.com/share/renderer/N5SD2a6gWv"
            ></iframe>
          </div>

          <div class="col-sm-9">
            <p>
              dhfhdhf udfhudi ifhdu ifh udjia fhduf hdfh udi fhdui sfh fhdjfh
              dufg hbuf hd jfhdu fieg fufyggv rjn ajc hcj hjhkj ghrjt6h
              hurtrhidbt yjihnfy t otsjgjkdngfedjfr5iahgjfjth jikfhgurr i bn
              jhgfdj . ohdkfbnjdvsb jnjk khyjrugujfbjd
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- vdicode unit 2 -->
    <div class="container">
      <a href="https://www.vidcode.com/share/h0n3v1Jrbe"
        ><p2>
          VidCode Unit 2
        </p2>
      </a>
      <!-- panel for information-->
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- container for the image-->
          <div class="col-sm-3">
            <iframe
              allowfullscreen
              style="width:100%"
              src="https://www.vidcode.com/share/renderer/h0n3v1Jrbe"
            ></iframe>
          </div>
          <!-- conatiner for the information -->
          <div class="col-sm-9">
            <p>
              dhfhdhf udfhudi ifhdu ifh udjia fhduf hdfh udi fhdui sfh fhdjfh
              dufg hbuf hd jfhdu fieg fufyggv rjn ajc hcj hjhkj ghrjt6h
              hurtrhidbt yjihnfy t otsjgjkdngfedjfr5iahgjfjth jikfhgurr i bn
              jhgfdj . ohdkfbnjdvsb jnjk khyjrugujfbjd
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- vdicode unit 3 -->
    <div class="container">
      <a href="https://www.vidcode.com/share/0kXI6fs0Wh"
        ><p2>
          VidCode Unit 3
        </p2>
      </a>
      <!-- panel for information-->
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- container for the image-->
          <div class="col-sm-3">
            <iframe
              allowfullscreen
              style="width:100%"
              src="https://www.vidcode.com/share/renderer/0kXI6fs0Wh"
            ></iframe>
          </div>
          <!-- conatiner for the information -->
          <div class="col-sm-9">
            <p>
              dhfhdhf udfhudi ifhdu ifh udjia fhduf hdfh udi fhdui sfh fhdjfh
              dufg hbuf hd jfhdu fieg fufyggv rjn ajc hcj hjhkj ghrjt6h
              hurtrhidbt yjihnfy t otsjgjkdngfedjfr5iahgjfjth jikfhgurr i bn
              jhgfdj . ohdkfbnjdvsb jnjk khyjrugujfbjd
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- vdicode unit 4 -->
    <div class="container">
      <a href="https://www.vidcode.com/share/IOitfXP0ww"
        ><p2>
          VidCode Unit 4
        </p2>
      </a>
      <!-- panel for information-->
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- container for the image-->
          <div class="col-sm-3">
            <iframe
              allowfullscreen
              style="width:100%"
              src="https://www.vidcode.com/share/renderer/IOitfXP0ww"
            ></iframe>
          </div>
          <!-- conatiner for the information -->
          <div class="col-sm-9">
            <p>
              dhfhdhf udfhudi ifhdu ifh udjia fhduf hdfh udi fhdui sfh fhdjfh
              dufg hbuf hd jfhdu fieg fufyggv rjn ajc hcj hjhkj ghrjt6h
              hurtrhidbt yjihnfy t otsjgjkdngfedjfr5iahgjfjth jikfhgurr i bn
              jhgfdj . ohdkfbnjdvsb jnjk khyjrugujfbjd
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- vdicode unit 5 -->
    <div class="container">
      <a href="https://www.vidcode.com/share/JpGyz1uV80"
        ><p2>
          VidCode Unit 5
        </p2>
      </a>
      <!-- panel for information-->
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- container for the image-->
          <div class="col-sm-3">
            <iframe
              allowfullscreen
              style="width:100%"
              src="https://www.vidcode.com/share/renderer/JpGyz1uV80"
            ></iframe>
          </div>
          <!-- conatiner for the information -->
          <div class="col-sm-9">
            <p>
              dhfhdhf udfhudi ifhdu ifh udjia fhduf hdfh udi fhdui sfh fhdjfh
              dufg hbuf hd jfhdu fieg fufyggv rjn ajc hcj hjhkj ghrjt6h
              hurtrhidbt yjihnfy t otsjgjkdngfedjfr5iahgjfjth jikfhgurr i bn
              jhgfdj . ohdkfbnjdvsb jnjk khyjrugujfbjd
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- vdicode unit 6 -->
    <div class="container">
      <a href="https://www.vidcode.com/share/sViGWtKmVQ"
        ><p2>
          VidCode Unit 6
        </p2>
      </a>
      <!-- panel for information-->
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- container for the image-->
          <div class="col-sm-3">
            <iframe
              allowfullscreen
              style="width:100%"
              src="https://www.vidcode.com/share/renderer/sViGWtKmVQ"
            ></iframe>
          </div>
          <!-- conatiner for the information -->
          <div class="col-sm-9">
            <p>
              dhfhdhf udfhudi ifhdu ifh udjia fhduf hdfh udi fhdui sfh fhdjfh
              dufg hbuf hd jfhdu fieg fufyggv rjn ajc hcj hjhkj ghrjt6h
              hurtrhidbt yjihnfy t otsjgjkdngfedjfr5iahgjfjth jikfhgurr i bn
              jhgfdj . ohdkfbnjdvsb jnjk khyjrugujfbjd
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
