<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Computer Science in a website</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- javascript file -->
    <script src="/client.js" defer></script>
    <!-- google founts -->
    <link
      href="https://fonts.googleapis.com/css?family=Concert One"
      rel="stylesheet"
    />
    <!-- bootstrap link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
   <!-- navagation bar  -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ICS3U</a>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"
                  >HTML <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/htmlGlitch">HTML on Glitch</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"
                  >Java Script <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/vidcodef">VidCode Final Projects</a></li>
                  <li><a href="/vidcodep">VidCode Projects</a></li>
                  <li><a href="/htmlwithjs">HTML with JS</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                  >More <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/api">API's and If this then that</a></li>
                   <li><a onclick="Function1()">Self design Project</a></li>
                  <li><a href="/log">Daily log</a></li>
                  <li><a href="/aboutMe">About Me</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right"></ul>
          </div>
        </div>
      </div>
    </nav>
   <!-- website heading -->
    <div class="jumbotron text-center">
      <h>Vidcode Projects</h>
    </div>
    <!-- vidcode unit 1-3 in a list -->
<div class="container">           
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><p>Unit 1</p></th>
        <th><p>Unit 2</p></th>
        <th><p>Unit 3</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/F7yaargE0d"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/IW0ERSZuBg"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/Ai0g1jqMnF"></iframe></td>
      </tr>
      <tr>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/apcrzb486p"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/0dhfSIlWrD"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/ZUpRJSvo3e"></iframe></td>
      </tr>
      <tr>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/fQHAG7E9Xq"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/rwJ2QxkYjY"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/tnW95Ln8WW"></iframe></td>
      </tr>
        <tr>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/Yqo300YX5o"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/EXqqyIJBQ4"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/vtbYfu30Hi"></iframe></td>
      </tr>
        <tr>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/c73R1aSE9i"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/kUwVRWb0V5"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/2A1cNXS8No"></iframe></td>
      </tr>
        <tr>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/rRAope60Mu"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/fPjWnt8pKv"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/5ibEjGm2UZ"></iframe></td>
      </tr>
        <tr>
        <td><h>N/A</h></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/0xPk200XzZ"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/AoehY7m0Ep"></iframe></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- vidcode unit 3-6 in a list -->
<div class="container">           
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><p>Unit 2</p></th>
        <th><p>Unit 3</p></th>
        <th><p>Unit 6</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/8QNmSkABxM"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/3ZXNRewq9j"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/8mybuinKgc"></iframe></td>
      </tr>
       <tr>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/TKTBY9R0g0"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/hIIWh2tYN9"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/KwvXT3aYTL"></iframe></td>
      </tr>
      <tr>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/VtMOw1LAos"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/rELro4Tg3w"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/CTAnaonbLk"></iframe></td>
      </tr>
         <tr>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/hhnCBYOisx"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/NDG5SzbGe7"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/xNpTLaiNnP"></iframe></td>
      </tr>
        <tr>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/nlv1XOb8eH"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/JiRceN5jMi"></iframe></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/PxbYXmjXxV"></iframe></td>
      </tr>
        <tr>
        <td><iframe allowfullscreen frameborder="0"  width="380" height="200" src="https://www.vidcode.com/share/renderer/4yUqUCKBAs"></iframe></td>
        <td><iframe allowfullscreen frameborder="0"  width="380" height="200" src="https://www.vidcode.com/share/renderer/x8cuRC10TZ"></iframe></td>
        <td><iframe allowfullscreen frameborder="0"  width="380" height="200" src="https://www.vidcode.com/share/renderer/3WTCOqSx5C"></iframe></td>
      </tr>
        <tr>
        <td><h>N/A</h></td>
        <td><h>N/A</h></td>
        <td><iframe allowfullscreen frameborder="0" width="380" height="200" src="https://www.vidcode.com/share/renderer/S494V9Hj6k"></iframe></td>
      </tr>
    </tbody>
  </table>
</div>
    
    
    <!-- unit 7 in a image gallery-->
    <div class="container">
      <p2>Unit 7 was started but never finished</p2>
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
         <iframe allowfullscreen frameborder="0" style="width:100%" height="200" src="https://www.vidcode.com/share/renderer/snHsGx0mCS"></iframe>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
         <iframe allowfullscreen frameborder="0" style="width:100%" height="200" src="https://www.vidcode.com/share/renderer/9RHovHe0WR"></iframe>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
         <iframe allowfullscreen frameborder="0" style="width:100%" height="200" src="https://www.vidcode.com/share/renderer/0rYgBidY68"></iframe>
      </div>
    </div>
     <div class="col-md-3">
      <div class="thumbnail">
         <iframe allowfullscreen frameborder="0" style="width:100%" height="200" src="https://www.vidcode.com/share/renderer/o2GwerrAfL"></iframe>
      </div>
    </div>
  </div>
</div>
    
  </body>
</html>